// Default variables
html {
  --base-font-size: 18px;
}

/* HEX */
$color1: #394053;
$color2: #5fbff9;
$color3: #353238;
$color4: #1c1a1d;
$color5: #dccca3;

// Light default theme
body {
  --bg-color: #f3f7f9;
  --bg-content-color: #fff;
  --bg-code: #fffbf3;
  --body-color: #353238;
  --title-color: #394053;
  --link-color: #394053;
  --border-color: #dccca3;
  --space: 3.5rem;
  --content-width: 860px;
  --header-height: 80px;
  --radius: 5px;
}

// Make  things smaller for mobile
@media screen and (max-width: 650px) {
  html {
    --base-font-size: 16px;
  }
  body {
    --space: 1.5rem;
    --header-height: 60px;
  }
}

// Override variables for Dark theme
body[data-theme="dark"] {
  --bg-color: #1c1a1d;
  --bg-content-color: #353238;
  --bg-code: rgba(0, 0, 0, 0.3);
  --border-color: #dccca3;
  --body-color: #ced8de;
  --title-color: #efe9f4;
  --link-color: #5fbff9;
}
