@font-face {
  font-family: "IBM Plex Mono";
  font-style: monospace;
  font-display: auto;
  font-weight: 400;
  src: url('http://fonts.cdnfonts.com/css/ibm-plex-mono-3');
}

@import url('https://fonts.googleapis.com/css2?family=Recursive:slnt,MONO@0,1&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap');