.post {
  width: 100%;
  max-width: $max-width;
  text-align: left;
  padding: 20px;
  margin: 20px auto;
  display: flex;
  justify-content: space-between;

  @media #{$media-size-tablet} {
    max-width: 600px;
    display: block
  }

  @media #{$media-size-phone} {
    max-width: 600px;
    display: block
  }



  &-date {
    &:after {
      content: '—';
    }
  }

  &-title {
    font-size: 2.625rem;
    margin: 0 0 20px;

    @media #{$media-size-phone} {
      font-size: 2rem;
    }

    a {
      text-decoration: none;
    }
  }

  &-tags {
    display: block;
    margin-bottom: 20px;
    font-size: 1rem;
    opacity: 0.5;

    a {
      text-decoration: none;
    }
  }

  &-content {
    margin-top: 30px;
  }

  &-cover {
    border-radius: 8px;
    // padding: 40px;
    width: 100%;
    // max-width: 100%;
    // overflow: hidden;

    @media #{$media-size-tablet} {
      margin: 20px 0;
      width: 100%;
    }
  }

  &-excerpt {
    color: grey;
    font-style: italic;
  }

  &-info {
    margin-top: 30px;
    font-size: 0.8rem;
    line-height: normal;
    @include dimmed;

    p {
      margin: 0.8em 0;
    }

    a:hover {
      border-bottom: 1px solid white;
    }

    svg {
      margin-right: 0.8em;
    }

    .tag {
      margin-right: 0.5em;

      &::before {
        content: "#";
      }
    }

    .feather {
      display: inline-block;
      vertical-align: -.125em;
      width: 1em;
      height: 1em;
    }
  }

  &-audio {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;

    audio {
      width: 90%;
    }
  }

  .flag {
    border-radius: 50%;
    margin: 0 5px;
  }
}

.pagination {
  margin-top: 20px;

  &__title {
    display: flex;
    text-align: center;
    position: relative;
    margin: 20px 0;

    &-h {
      text-align: center;
      margin: 0 auto;
      padding: 5px 10px;
      font-size: 0.8rem;
      text-transform: uppercase;
      text-decoration: none;
      letter-spacing: 0.1em;
      z-index: 1;
      // Default
      background: $light-background;
      color: $light-color-secondary;

      @media (prefers-color-scheme: dark) {
        background: $dark-background;
        color: $dark-color-secondary;
      }

      @media (prefers-color-scheme: light) {
        background: $light-background;
        color: $light-color-secondary;
      }

      [data-theme=dark] & {
        background: $dark-background;
        color: $dark-color-secondary;
      }

      [data-theme=light] & {
        background: $light-background;
        color: $light-color-secondary;
      }
    }

    hr {
      position: absolute;
      left: 0;
      right: 0;
      width: 100%;
      margin-top: 15px;
      z-index: 0;
    }
  }

  &__buttons {
    display: flex;
    align-items: center;
    justify-content: center;

    a {
      text-decoration: none;
      font-weight: bold;
    }
  }
}

.button {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  font-weight: 600;
  border-radius: 8px;
  max-width: 40%;
  padding: 0;
  cursor: pointer;
  appearance: none;
  // Default
  background: $light-background-secondary;

  @media (prefers-color-scheme: dark) {
    background: $dark-background-secondary;
  }

  @media (prefers-color-scheme: light) {
    background: $light-background-secondary;
  }

  [data-theme=dark] & {
    background: $dark-background-secondary;
  }

  [data-theme=light] & {
    background: $light-background-secondary;
  }

  +.button {
    margin-left: 10px;

  }

  a {
    display: flex;
    padding: 8px 16px;
    text-decoration: none;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  &__text {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  &.next .button__icon {
    margin-left: 8px;
  }

  &.previous .button__icon {
    margin-right: 8px;
  }
}

// https://flexboxpatterns.com/side-bar
.sidebar {
  transition: all 0.5s;
  /**
   * This container orders items according to flexbox
   * rules. By default, this would arrange its children
   * horizontally. However, the next property...
   */
  flex: 1 0 300px;

  /**
   * ...sets the main axis to be vertical instead of
   * horizontal, so now the children are laid out
   * vertically, from top to bottom.
   */
  flex-direction: column;

  /**
   * It will also put as much space as possible
   * between its children, with the children at either end
   * laying flush against the container's edges.
   */
  justify-content: space-between;
  margin: 40px 20px;
  height: 100%;
  width: 300px;
  border-left: solid 1px #EBCB8B;
  padding: 20px;
  position: -webkit-sticky;
  position: sticky;
  top: 120px;

  &-item {
    cursor: pointer;
    padding: 5px 10px;
    color: #A3BE8C;
    font-size: 15px;
    font-family: "IBM Plex Mono", monospace;

  }

  &-title {
    font-family: "IBM Plex Mono", monospace;
    // font-size: 14px;
    font-weight: 500;
    font-style: italic;
  }

  @media #{$media-size-tablet},
  #{$media-size-phone} {
    border: none;
    margin: 0;
    margin-top: 40px;
    padding: 0;
    width: 100%;

    &-item {
      font-size: 14px;
      padding: 0;
    }

    &-item:last-child {
      margin-bottom: 40px;
    }

    &-title {
      font-size: 18px;
    }

  }
}