@charset "UTF-8";

/* light theme color */
$light-background: #ECEFF4;
$light-background-secondary: #D8DEE9;
$light-color: #2E3440;
$light-color-secondary: #B48EAD;
$light-border-color: #dcdcdc;
$light-background-header: #ECEFF4;
$light-color-variant: #88C0D0;
$light-table-color: #E5E9F0;

/* dark theme colors */
$dark-background: #1a1d21;
$dark-background-secondary: #3b3d42;
$dark-color: #D8DEE9;
$dark-color-secondary: #8FBCBB;
$dark-border-color: #B48EAD;
$dark-background-header: #1a1d21;
$dark-color-variant: #88C0D0;
$dark-table-color: #2E3440;

$media-size-phone: "(max-width: 684px)";
$media-size-tablet: "(max-width: 900px)";

/* variables for js, must be the same as these in @custom-media queries */
:root {
  --phoneWidth: (max-width: 684px);
  --tabletWidth: (max-width: 900px);
}

/* Content */
$max-width: 1500px;